<footer class="footer">
  <div class="container">
    <div class="info">
      <table BORDER="0">
        <tr>
          <td class="anschrift">
            <h4>Anschrift</h4>
          </td>
          <td class="kontakt">
            <h4>Kontakt</h4>
          </td>
          <td class="links">
            <h4>Links</h4>
          </td>
          <td class="socialmedia">
            <h4>Social Media</h4>
          </td>
        </tr>
        <tr>
          <td>
              Computerzentrum Straubserg GmbH<br/>
              Müncheberger Str. 7<br/>
              15344 Straubserg
          </td>
          <td>
              <table>
                <tr>
                  <td>Tel.</td>
                  <td>03341 301-100</td>
                </tr>
                <tr>
                  <td>Fax.</td>
                  <td>03341 301-300</td>
                </tr>
                <tr>
                  <td>E-Mail</td>
                  <td>info@computerzentrum.de</td>
                </tr>
              </table>
          </td>
          <td>
              Impressum<br/>
              Datenschutz<br/>
              <a routerLink="/employee-login">Service Login</a><br/>
          </td>
          <td>
              Twitter<br/>
              Instagram<br/>
              Facebook<br/>
          </td>
        </tr>
      </table>
    </div>

    <div class="content has-text-centered">
      <p>
        <font class="gray">Version 0.01.01-0001 &#8226; Über CZA</font>
      </p>
    </div>
  </div>
</footer>
