
:host{
  flex: 0 1 0%;
  margin: 0; 
  padding: 32px 12px 32px;
  background-color:#cccccc;

  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
  
.footer-table{
  flex: 1;
}
.version-tag{
  flex: 1;
  padding-top: 10px;
}


.anschrift {
  width: 250px;
}

.kontakt {
  width: 250px;
}

.links {
  width: 150px;
}

.gray {
  color: slategrey;
}

a {
  color: #000000  ;
  text-decoration: none;
}
