
:host{
  height: 100%;
  width: 100%;
  margin: 0; 
}

.header{
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.content{
  display: flex;
  min-height: auto;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

.personal-detail-container {
  margin-top: 20px;
  padding: 20px;
  flex: none;
  margin-bottom: 20px;
  width: 50%;
  max-height: 550px;
  overflow: hidden;
}
