<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-button [routerLink]="['/']">
            <h6 class="">{{ 'greetingMessage' | translate: ['CZA'] }}</h6>
        </a>
        <a mat-button [routerLink]="['/intern']">
            Intern
        </a>
        <span class="example-spacer"></span>
        <span style="width: 10px"></span>
        <mat-form-field>
            <mat-label></mat-label>
            <mat-select [value]="(selectedLangauge | async)" (selectionChange)="ls.setLanguage($event.value)">
                <mat-option *ngFor="let language of ls.get_allLanguages" [value]="language.value">
                    {{language.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-menu #appMenu="matMenu">
            <button mat-menu-item>{{ 'Login' | translate }}</button>
            <button mat-menu-item>{{ 'Help' | translate }}</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>