:host{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1 1 auto;
}

@media (max-width: 600px){
    cza-citizen-footer{
        display: none;
    }
}