
:host{
  margin: 0; 

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1 1 100%;
}

.content{
  padding: 30px;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.complete-booking-container {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  width: 40%;
}


.privacy-dx-form{
  flex: 0 1 auto;
  padding: 20px;
}

.privacy-dx-toolbar{
  flex: 0 1 auto;
}