<div class="container" id="print-section">
  <div class="content">
    <div class="complete-booking-container mat-elevation-z8">
      <dx-form id="completeBookingForm" #completeBookingForm [formData]="completeBooking" labelLocation="left"
        readOnly="true">

        <dxi-item itemType="group" [caption]="'Appointment' | translate">
          <dxi-item dataField="appointment.occasion" [label]="{text: 'Service' | translate}"></dxi-item>
          <dxi-item dataField="appointment.room" [label]="{text: 'Location' | translate}">
            {{completeBooking.appointment.room}} <br />
            {{completeBooking.appointment.street}} {{completeBooking.appointment.no}},
            {{completeBooking.appointment.zipcode}} {{completeBooking.appointment.city}}
          </dxi-item>
          <dxi-item dataField="appointment.date" [label]="{text: 'Date' | translate}">
            {{completeBooking.appointment.date}} / {{completeBooking.appointment.time}}
          </dxi-item>
          <dxi-item dataField="appointment.information" [label]="{text: 'Hint' | translate}"></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [caption]="'Contact data' | translate">
          <dxi-item dataField="user.phonenumber" [label]="{text: 'Phonenumber' | translate}"></dxi-item>
          <dxi-item dataField="user.email" [label]="{text: 'Email' | translate}"></dxi-item>
        </dxi-item>
      </dx-form>
      <dx-toolbar>
        <dxi-item widget="dxButton" location="before" toolbar="bottom"
          [options]="{ text: 'Back' | translate, onClick: onBack }">
        </dxi-item>
        <dxi-item widget="dxButton" location="center" toolbar="bottom"
        [options]="{ text: 'Print' | translate, onClick: onPrint }">
      </dxi-item>
        <dxi-item widget="dxButton" location="after" toolbar="bottom"
          [options]="{ text: 'Finished' | translate, onClick: onNext }">
        </dxi-item>
      </dx-toolbar>
    </div>
  </div>
</div>