

:host{
  margin: 0; 

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1 1 100%;
}

.header{
  flex: 0 0 68px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 1000px){
  .appointment-dx-tree-list {
    width: 100%!important;
  }

  .appointment-auswahl-button-big {
    display: none!important;
  }

  .appointment-auswahl-button-small {
    display: inline-block!important;
  }
}

@media (min-width: 1000px){

  .appointment-auswahl-button-big{
    display: inline-block!important;
  }

  .appointment-auswahl-button-small{
    display: none!important;
  }
}


.appointment-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 50%;
  min-height: 160px;
  justify-content: center;
  align-items: center;
}

.appointment-dx-tree-list{
  width: 60%;
  flex: 1;
  padding: 20px;
  height: 1vh;
}