<div class="container">
  <div class="content">
    <div class="privacy-container mat-elevation-z8">
      <div class="header">
        <h1>{{'privacy' | translate}}</h1>
      </div>
      <dx-text-area [height]="350" [readOnly]="true" [value]="privacy | async">
      </dx-text-area>
      <dx-form id="privacyForm" #privacyForm [formData]="appointmentData | async">
        <dxi-item itemType="group" [colCount]="10">
          <dxi-item [colSpan]="2" itemType='empty'></dxi-item>
          <dxi-item [colSpan]="8" dataField="privacyAccept" editorType="dxCheckBox"
            [editorOptions]="{ text: 'privacy-accept-msg' | translate }">
            <dxo-label [visible]="false">
            </dxo-label>
            <dxi-validation-rule type="required" [message]="'privacy-validation-msg' | translate"></dxi-validation-rule>
          </dxi-item>
        </dxi-item>
      </dx-form>

      <dx-toolbar>
        <dxi-item widget="dxButton" location="before" toolbar="bottom"
          [options]="{ text: 'Back' | translate, onClick: onBack }">
        </dxi-item>
        <dxi-item widget="dxButton" location="after" toolbar="bottom"
          [options]="{ text: 'Next' | translate, onClick: onNext }">
        </dxi-item>
      </dx-toolbar>
    </div>
  </div>
</div>